/*
    CSS styles for the whole website
    The file is included in the genericpage.tag template
 */

    .banner {
        background-size: cover!important;
        height: 654px;
        top: 0;
        position: absolute;
        width: 100%;
        z-index: 1;
    }
    .show {
        display: block!important;

    }
    .test {
        height: 300px !important;

        background-position: center center;
        background-repeat: no-repeat no-repeat;
    }
#topmenu_login_dialogue
{
    font-size: smaller;
}
    /*.headerPictureSizeOnScreen{*/
    /*    max-width: 100%;*/
    /*    width: 100%;*/
    /*    max-height: 100%;*/
    /*    height: auto;*/
    /*}*/
    header nav {
        position: relative;
        z-index: 20;
        width: 100%;
        top: 0;
    }
    .headerPictureSizeOnScreen {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden

    }
    .headerPictureSizeOnScreen img {
        flex-shrink: 0;
        min-width: 100%;
        min-height: 100%

    }
    .logo{
        object-fit: none;
        object-position: 50% 50%;
        margin-left: -13px;
    }
    hr {
        margin-top: 1rem;
        margin-bottom: 1rem;
        border: 0;
        border-top: 1px solid rgba(255, 255, 0, 1);
    }

.navBackGround{
    background: #0B2069;
    max-width: 1300px;
    width: 1300px;
    margin: 0 auto;
    color: white;
}
.alignMiddleOnPage{
    position: absolute;
    left: 50%;
    margin-left: -650px;
    top: 0;
    background: #0B2069;
}
.topNavigation{


}
.image-responsive{
    display: block;
    max-width: 100%;
    height: auto;
}
.bottomNavigation{

}
/*

    @media (max-width: 1100px) {
        .navBackGround {
            background: #0B2069;
            max-width: 900px;
            width: 900px;
        }
        .logo{
            object-fit: none;
            object-position: 50% 50%;
            margin-left: -12px;
        }
        .alignMiddleOnPage{
            position: absolute;
            left: 50%;
            margin-left: -450px;
            top: 0;
        }
        .topNavigation{
            position: absolute;
            top:0;
            left: 15%;
            border-bottom: 1px solid white;
            height: 63px;
            min-height: 1px;
            max-width: 900px;
            margin-left: 10px;
            padding: 10px 0;
        }
        .image-responsive{
            display: block;
            max-width: 100%;
            height: auto;
        }
        .bottomNavigation{
            position: absolute;
            top: 75%;
            left:10%;
        }
    }
        @media (max-width: 790px) {
            .logo{
                object-fit: none;
                object-position: 50% 50%;
                margin-left: -12px;
            }
            .navBackGround {
                background: #0B2069;
                max-width: 500px;
                width: 500px;
            }
            .headerPictureSizeOnScreen{
                height: auto;
                width: auto;
            }
            .alignMiddleOnPage{
                position: absolute;
                left: 50%;
                margin-left: -250px;
                top: -2%;
            }
            .topNavigation{
                position: absolute;
                top:0;
                left: 22%;
                border-bottom: 1px solid white;
                height: 63px;
                min-height: 1px;
                max-width: 350px;
                margin-left: 10px;
                padding: 25px 0;
            }
            .image-responsive{
                display: block;
                max-width: 100%;
                height: auto;
            }
            .bottomNavigation{
                position: absolute;
                top: 75%;
                left:21%;
                max-width: 350px;
            }
        }
@media (max-width: 600px) {

    body{
        max-width: 504px;
    }
    .logo{
        object-fit: none;
        object-position: 50% 50%;
        margin-left: 3px;

    }
    .navBackGround {
        background: #0B2069;
        max-width: 550px;
        width: 550px;
        height: 97px;
    }
    .headerPictureSizeOnScreen{
        margin-top: 50px;
    }
    .alignMiddleOnPage{
        position: absolute;
        left: 50%;
        margin-left: -250px;
        top: -2%;
    }
    .topNavigation{
        position: absolute;
        top:0;
        left: 17%;
        border-bottom: 1px solid white;
        height: 55px;
        min-height: 1px;
        max-width: 380px;
        margin-left: 10px;
        padding: 25px 0;
    }
    .image-responsive{
        display: block;
        max-width: 100%;
        width: auto;
        height: 90px;
    }
    .bottomNavigation{
        position: absolute;
        top: 75%;
        left:16%;
        max-width: 350px;
    }
}


*/
