/*
    CSS styles for the whole website
    The file is included in the genericpage.tag template
 */
.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #0B2069;
    text-align: center;
    cursor: pointer;
    width: 100%;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
}
.banner {
    background-size: cover!important;
    /*height: 654px;*/
    top: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
}
.show {
    display: block!important;

}
.test {
    height: 300px !important;

    background-position: center center;
    background-repeat: no-repeat no-repeat;
}
#topmenu_login_dialogue
{
    font-size: smaller;
}
    /*.headerPictureSizeOnScreen{*/
    /*    max-width: 100%;*/
    /*    width: 100%;*/
    /*    max-height: 100%;*/
    /*    height: auto;*/
    /*}*/
    header nav {
        position: relative;
        z-index: 20;
        width: 100%;
        top: 0;
    }
    .headerPictureSizeOnScreen {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden

    }
    .headerPictureSizeOnScreen img {
        flex-shrink: 0;
        min-width: 100%;
        min-height: 100%

    }
    .logo{
        object-fit: none;
        object-position: 50% 50%;
        margin-left: -13px;
    }
    hr {
        margin-top: 1rem;
        margin-bottom: 1rem;
        border: 0;
        border-top: 1px solid rgba(255, 255, 0, 1);
    }

.navBackGround{
    background: #0B2069;
    max-width: 1300px;
    width: 1300px;
    margin: 0 auto;
    color: white;
}
.alignMiddleOnPage{
    position: absolute;
    left: 50%;
    margin-left: -650px;
    top: 0;
    background: #0B2069;
}

.topNavigation{


}
.image-responsive{
    display: block;
    max-width: 100%;
    height: auto;
}
.bottomNavigation{

}